@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(16deg,#4285f4,#9b72cb, #d96570, #e96356,#d96570,#9b72cb,#4285f4,#d96570,#131314);
  -webkit-background-clip: text;
  color: transparent;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
  